/* =========================================================
   ABOUT PAGE STYLING
========================================================= */

.about-section{
    padding: 70px 10%;
    background-color: white;
}

.about-section h1{
    font-size: 42px;
    color: #0b1f3a;
    margin-bottom: 25px;
    text-align: center;
}

.about-section p{
    font-size: 18px;
    line-height: 2;
    text-align: justify;
    margin-bottom: 20px;
}

/* About Image */

.about-image{
    text-align: center;
    margin-top: 30px;
}

.about-image img{
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: 0.4s ease;
}

.about-image img:hover{
    transform: scale(1.03);
}